body{
  background-color: rgb(210, 238, 122);
}

h1, h2{
  font-family: georgia, "Times New Roman", serif;
}
p{
  font-family: Verdana, Arial, sans-serif;
}
.CSS{
  float: left;
  width: 49%;


}

.HTML{
  float: right;
  width: 49%;

}

footer {
  text-align: center;
  padding-top: 600px;
}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
