body {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
  'header header'
  'section section'
  'aside aside'
  'footer footer';
  grid-gap: 30px

}

@media screen and (min-width:500px) {
  body {
    grid-template-areas:
    'header header'
    'section aside'
    'footer footer';
  }
}

p {
  /*färg på text*/
  color: black;
}

body {
  background-color: blue;
}

header{
  background-color: red ;
  grid-area: header;
}

section {
  background-color: green;
  grid-area: section;
}

aside {
  background-color: yellow;
  grid-area:aside ;
}

footer {
  background-color: black ;
  grid-area:footer ;
}


img#sea {
  max-width: 100%;
}

img#html {
  min-width: 50%;
  max-width: 100%;
}
